/* cache la div de base */

div.divDashboard{
    padding-left: 120px;
    display: none;
    width: 1000px;
    text-align: left;
}




.dashboard-table-container {
    display: flex;
    justify-content: space-around;
    border: thick double var(--blueColor);
    background-color: var(--colorBackground2);
}

.month-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard-progress-bars {
    display: flex;
    margin-bottom: 10px;
}

.Dashboard-Progress-bar {
    display: inline-block;
    width: 10px;
    height: 200px;
    /* background-color: #f2f2f2; */
    /* background-color: rgb(201, 200, 200); */
    position: relative;
    margin: 5px;
}

.dashboard-TaskCount-Progress-fill {
    width: 100%;
    height: 0;
    background-color:var(--yellowColor); /* Ajout de la couleur pour la partie remplie */
    position: absolute;
    bottom: 0;
    transition: height 0.3s ease;
}

.dashboard-TaskDuration-Progress-fill {
    width: 100%;
    height: 0;
    background-color: var(--blueColor); /* Ajout de la couleur pour la partie remplie */
    position: absolute;
    bottom: 0;
    transition: height 0.3s ease;
}

.progress-label {
    margin-top: 5px;
}

.dashboard-progress-count {
    margin-top: 5px;
}


/* Legend */

img.dashboardLegend{
    width: 250px;
}





/* Le tableau de statistiques divers */

.statisticDivers {
    border-collapse: collapse;
    width: 100%; 
    border: thick double var(--blueColor);
    background-color: var(--colorBackground2);
}

.statisticDivers th, .statisticDivers td {
    border: 1px solid black; 
    padding: 8px; 
    text-align: left; 
}

.statisticDivers th {
   text-align: center;
}
