



/* ----------------  -----   Grand ecrans  ------- ------------------- */





@media screen and (min-width:1850px) {

    div.dateVersion{
        width: 700px;
        left: 150px;
    }






    /* Menu principal */
    div.navBar{
        width: 200px;height: 100%;
    }

    div.mainMenuIcon{
        margin-left: 10px;
    }

    p.textMainMenu{
        display: inline-block;
        margin-left: 10px;
        color: white;
        /* margin-bottom: 50px; */
    }
    



    /* Texte des boutons création tache ou modèle */

    .textBtnNewModele{
        display: inline-block;
        margin: 0px;
    }
    .textBtnNewTask{
        display: inline-block;
        margin: 0px;
        color: var(--blueColor);
    }


    /* Liste des tâches */
    div.listBtnNote{
        left: 280px; top: 150px;
    
    }

    /* Visionneuse de note */
    div.noteViewArea {
        min-height: 800px;
        left: 1000px;top: 50px;
    }

    tr.tableViewNoteRowDetail {
        height: 250px;
      }
      
    div.viewNoteDetail{
        height: 250px;
    }


    tr.tableViewNoteRowStep{
        height: 230px;
        
    }
    
    /* Pour la barre de défilement des steps */
    .scrollable-td-step-view {
        height: 230px; 
    
    }




    /* Editeur de note */
    .divNoteEditor {
        min-height: 800px;
        left: 1000px;top: 50px;
        
    }

    tr.editorDetailRow{
        height: 230px;
    }
    
    .textarea-field{
        height: 200px;
        
      }

 /* LES ETAPES */
 tr.editorStepRow{
	height: 250px;
}


/* Pour la barre de défilement des steps */
.scrollable-td-step-editor {
	width: 600px;
    height: 250px; /* Hauteur fixe de la cellule */
}


    /* UserMessages */

    div.userMessage{
        left: 680px;
       }
    div.userMessageA{
      top: 40px;
    }



    /* Notification */

    img.notifyDate{
        
        margin-right: 10px;
    }

    /* La div d'affichage */

    div.divNotifyAlert{
        left: 370px;top: 80px;
    }

    /* Dashboard */
    div.divDashboard{
        padding-left: 250px;
        width: 80%
    }


    /* ECHEANCES */
    div.divTimeline{
        padding-left: 250px;
    }


    /* Setting */
    div.divSetting{      
        padding-left: 250px;
    
    }

    /* Modèles */
    div.template{
    
        padding-left: 250px;
        width: 80%;
        height: 80%;
        text-align: left;
    
    }
    

    /* Information */
    div.divInfo{
        left: 250px;
        width: 80%;
        height:90%;
    }








}