div.divTimeline{
    
    padding-left: 120px;
    display: none;
    width: 1000px;
    height: 600px;
    text-align: left;

}


div.editionTimeline{
    display: none;
    border-radius: 10px;
	border: solid 1px var(--blueColor);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre portée */
    background: var(--colorBackground2);
    width: 800px;
    height: 550px;
    text-align: center;
    position: absolute;
    z-index: 1;
}



.fullTimeline {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 90%;
    margin: 20px 0;
}

.timelineMonth {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 0 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.timelineMonth-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5%;
    width: 50px;
    height: 20px;
    line-height: 30px;
    margin: 0 auto;
}

/* Pour différencier le mois en cours */
.currentTimelineMonth-label {
    background-color: #ff3333;
}

.timeLineTask ul {
    list-style: none;
    padding: 0;
}

.timeLineTask ul button {
    margin: 5px 0;
    font-size: 14px;
    border: solid 1px black;
    border-radius: 2px;
}

.timeLineTask ul button:hover {
    cursor: pointer;

}


div.timelineConfirmSupr{
    display: none;
	width: 400px;
	height: 100px;
	position: relative;
	margin-left: auto;
    margin-right: auto;
	/* top: 400px; */
}



/* SELECTION COULEUR */

p.timelineColorVisualisation{
    width: 120px;
    margin: auto;
}

button.timelineColorSelected{
    border-radius: 8px;
    margin: 20px;
    width: 40px;height: 20px;
    border: solid 1px;

}

button.timelineColorSelected:hover{
    cursor: pointer;
    border-radius: 0px;
}



/*  -------------------------------- Dans le menu Accueil -------------------------------- */





/* zone d'affichage des échéances */
div.accueilTimelineMonth{
    background-color: #f8f8f8;;
    position: absolute;
    left: 250px; top: 780px;
    width: 85%; height: 80px;
    border-radius: 5px;
    text-align: center;
    display: none;/*Ne s'affiche que sur les grands écrans (voir fichier responsive)*/
}

div.accueilTimelineMonth p{
    font-weight: bold;
    margin: 4px;
}

/* Pour chaque écheance dans le menu accueil */
div.accueilTimelineMonthList div{
    display: inline-flex;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    border: solid 1px black;
    border-radius: 2px;
}



div.accueilTimelineMonthList div:hover{
    cursor:default;
    border: solid 2px black;
    border-radius: 5px;
}



/* POPUP visualisation échéances */
div.timelineAccueilPopup {
    background-color: #f6dd89;
    text-align: center;
    position: absolute;
    z-index: 5;
    width: auto; /* Permet à la div de s'ajuster en fonction du contenu */
    max-width: 450px;
    display: none;
    border-radius: 10px;
    border: solid 1px var(--blueColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre portée */
    padding: 10px;
    box-sizing: border-box;
    bottom: calc(100vh - 800px); /* Place le bas de la div à 800px du haut */
}


/* Le commentaire de l'échéance */

div.timelineAccueilPopup div{
    white-space: pre-line;
	white-space: pre-wrap;
    overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse la taille de la div */
    padding: 10px; 
	text-align: left;
}